## Import des bibliothèques

In [1]:
pip install googleapis-common-protos protobuf grpcio pandas systemathics.apis statsmodels matplotlib seaborn

Requirement already satisfied: googleapis-common-protos in /opt/conda/lib/python3.9/site-packages (1.53.0)
Requirement already satisfied: protobuf in /opt/conda/lib/python3.9/site-packages (3.19.0)
Requirement already satisfied: grpcio in /opt/conda/lib/python3.9/site-packages (1.41.1)
Requirement already satisfied: pandas in /opt/conda/lib/python3.9/site-packages (1.3.4)
Requirement already satisfied: systemathics.apis in /opt/conda/lib/python3.9/site-packages (0.9.45)
Requirement already satisfied: statsmodels in /opt/conda/lib/python3.9/site-packages (0.13.1)
Requirement already satisfied: matplotlib in /opt/conda/lib/python3.9/site-packages (3.5.0)
Requirement already satisfied: seaborn in /opt/conda/lib/python3.9/site-packages (0.11.2)
Requirement already satisfied: six>=1.5.2 in /opt/conda/lib/python3.9/site-packages (from grpcio) (1.16.0)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.9/site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /opt/conda/lib/python3.9/site-packages (from pandas) (1.21.4)
Requirement already satisfied: patsy>=0.5.2 in /opt/conda/lib/python3.9/site-packages (from statsmodels) (0.5.2)
Requirement already satisfied: scipy>=1.3 in /opt/conda/lib/python3.9/site-packages (from statsmodels) (1.7.3)
Requirement already satisfied: pillow>=6.2.0 in /opt/conda/lib/python3.9/site-packages (from matplotlib) (8.4.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/conda/lib/python3.9/site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: setuptools-scm>=4 in /opt/conda/lib/python3.9/site-packages (from matplotlib) (6.3.2)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.9/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: pyparsing>=2.2.1 in /opt/conda/lib/python3.9/site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.9/site-packages (from matplotlib) (21.0)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/lib/python3.9/site-packages (from matplotlib) (4.28.3)
Requirement already satisfied: setuptools in /opt/conda/lib/python3.9/site-packages (from setuptools-scm>=4->matplotlib) (58.2.0)
Requirement already satisfied: tomli>=1.0.0 in /opt/conda/lib/python3.9/site-packages (from setuptools-scm>=4->matplotlib) (1.2.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import os
import re
import grpc
import pandas as pd
import seaborn
import statsmodels.api as sm
import google.protobuf as pb
import systemathics.apis.services.static_data.v1.static_data_pb2 as static_data
import systemathics.apis.services.static_data.v1.static_data_pb2_grpc as static_data_service
import numpy as np
from statsmodels.tsa.stattools import adfuller,coint
import matplotlib.pyplot as plt
import systemathics.apis.type.shared.v1.identifier_pb2 as identifier
import systemathics.apis.services.daily.v1.daily_prices_pb2 as daily_prices
import systemathics.apis.services.daily.v1.daily_prices_pb2_grpc as daily_prices_service
from datetime import datetime
import itertools
import copy

## Authentification

In [3]:
token = f"Bearer {os.environ['AUTH0_TOKEN']}"
display(token)

'Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6ImpwZDhjS2Z5Zi13QXkzOURpNENqWSJ9.eyJpc3MiOiJodHRwczovL2dhbnltZWRlLXByb2QuZXUuYXV0aDAuY29tLyIsInN1YiI6ImF1dGgwfDYxNmQ4NzI5NWQzZDlkMDA3MGVkYmIxNCIsImF1ZCI6WyJodHRwczovL3Byb2QuZ2FueW1lZGUtcHJvZCIsImh0dHBzOi8vZ2FueW1lZGUtcHJvZC5ldS5hdXRoMC5jb20vdXNlcmluZm8iXSwiaWF0IjoxNjM4NzA5NzEwLCJleHAiOjE2NDEzMDE3MTAsImF6cCI6Ijl5R0tzbGtFczFWNm9xRk9aa0h0a1V0NWkyNTVackpJIiwic2NvcGUiOiJvcGVuaWQgcHJvZmlsZSBlbWFpbCIsInBlcm1pc3Npb25zIjpbInNlcnZpY2VzOmJhc2ljIl19.RXKK07HbY4BoiSDD2W63c0YQY5rsa2yiS7cSJO_98wqc8TXrCUXpnQ9EQAXCOchATJjRucYv1LoFZjg0YOaO8-XJ0gyZbmPWpuJ6geCFuxWgiN8sNWl8ERosVSjuqCIHnWzmcIi9BcLDSExLHctsx-3EwQL_fwuApyY6U-pwHIU60FZiWpCjeiEYQyqt-D6gpCIkne3hsifW5a9KrfEM-S2aOiVDuh2kbCqajFFgatitpXsa6bI-7_9PvjPhYk7INFm86EZ4JTf_O5i1r1I3HnGUr6oKtiE8FE0FGcZQV4YgYaK6pwsEnS32rX34cIzWaKqeo4lOBb0nPlWsYad3nw'

# Sélection des paires

## Choix des indicateurs de sélection

### Correlation

In [4]:
def correlation(timeseries1,timeseries2):
    return np.corrcoef(sample1_sum,sample2_sum)[0,1]
# Correlation need to be near 1

### Stationarity

In [5]:
def stationarity_test_bool(timeseries,cutoff=0.01):
    # H_0 in adfuller is unit root exists (non-stationary)
    # We must observe significant p-value to convince ourselves that the series is stationary
    pvalue = adfuller(timeseries)[1]
    return True if pvalue<cutoff else False

In [6]:
def stationarity_test_pvalue(timeseries,cutoff=0.01):
    # H_0 in adfuller is unit root exists (non-stationary)
    # We must observe significant p-value to convince ourselves that the series is stationary
    return adfuller(timeseries)[1]

### Cointegration

In [7]:
def cointegration_test(timeseries1,timeseries2):
    return coint(timeseries1,timeseries2, autolag="AIC")[1]    # return the p-value of the test

# Low pvalue means high cointegration!

### Standardized data

In [8]:
def mean_norm(df_input):
    df_input.loc[:, df_input.columns != "Date"] = df_input.loc[:, df_input.columns != "Date"].apply(lambda x: (x-x.mean())/ x.std(), axis=0)
    return df_input
#We have to choose the best way to standardized the dataframe here

## Application des indicateurs de sélection

### Recueil des données

#### Recueil des tickers

In [9]:
# define a method to handle the equities reponse using a Pandas dataframe
def get_equities_dataframe(response):
    identifier = ['{0}|{1}'.format(equity.identifier.ticker, equity.identifier.exchange) for equity in response.equities]
    type = [equity.type for equity in response.equities]
    country = [equity.country for equity in response.equities]
    name = [equity.name for equity in response.equities]
    currency = [equity.currency for equity in response.equities]
    primary = [equity.primary for equity in response.equities]
    tick_size_rule = [equity.tick_size_rule for equity in response.equities]
    mapping = [get_mapping(equity.mapping) for equity in response.equities]
    index = [equity.index for equity in response.equities]
    open = [equity.open for equity in response.equities]
    close = [equity.close for equity in response.equities]
    time_zone = [equity.time_zone for equity in response.equities]
    lot_size = [equity.lot_size for equity in response.equities]
    point_value = [equity.point_value for equity in response.equities]
    isin = [equity.isin for equity in response.equities]
    cusip = [equity.cusip for equity in response.equities]
    sedol = [equity.sedol for equity in response.equities]
    sectors = [get_sectors(equity.sectors) for equity in response.equities]
    capitalization = [equity.capitalization.value for equity in response.equities]
    
    # Create pandas dataframe
    d = {'Identifier': identifier, 'Type': type, 'Country': country, 'Name': name, 'Currency': currency, 'Primary': primary, 'TickSizeRule': tick_size_rule, 'Mapping':mapping, 'Index': index, 'Open': open, 'Close': close, 'Time zone': time_zone, 'Lot size': lot_size, 'PointValue': point_value, 'Isin': isin, 'Cusip': cusip, 'Sedol': sedol, 'Sectors': sectors, 'Capitalization': capitalization}
    df = pd.DataFrame(data=d)
    return df

In [10]:
# define methods to handle identifiers mapping and sectors display as a string
def get_mapping(d):
    res=''
    for key, value in d.items():
        res = res + '['+key+'='+value+']'
    return res

def get_sectors(d):
    res=''
    for key, value in d.items():
        res = res + '['+key+','+value+']'
    return res

def get_identifier(d):
    res=''
    for key, value in d.items():
        res = res + '['+key+'='+value+']'
    return res

In [11]:
# generate static data request
request = static_data.StaticDataRequest( 
    asset_type = static_data.AssetType.ASSET_TYPE_EQUITY
)

request.index.value = 'NASDAQ 100'
request.exchange.value = 'XNGS'     # Requête qui ne filtre que la bourse primaire mais pas la bourse réelle
request.count.value = 1000

In [12]:
# open a gRPC channel
with open(os.environ['SSL_CERT_FILE'], 'rb') as f:
    credentials = grpc.ssl_channel_credentials(f.read())
with grpc.secure_channel(os.environ['GRPC_APIS'], credentials) as channel:
    
    # instantiate the static data service
    service = static_data_service.StaticDataServiceStub(channel)
    
    # process the request
    response = service.StaticData(request = request, metadata = [('authorization', token)])

# visualize request results
data = get_equities_dataframe(response)

def drop_others_exch(data):
    count = 0
    for i in range(len(data)):
        exch = data.iloc[count]['Identifier'].split('|')[1]
        if exch != request.exchange.value:
            data.drop(i, inplace = True)
            count -= 1
        count += 1  


drop_others_exch(data)       # Cette fonction réctifie le problème du filtre de la bourse dans la requete qui ne filtre pas complètement
display(data.sort_values(['Identifier']))

,Identifier,Type,Country,Name,Currency,Primary,TickSizeRule,Mapping,Index,Open,Close,Time zone,Lot size,PointValue,Isin,Cusip,Sedol,Sectors,Capitalization
67,AAPL|XNGS,Equity,US,Apple Inc,USD,XNGS,[0:0.0001][1:0.01],[Figic=BBG000B9XRY4][Esignal=AAPL][Bloomberg=A...,Composite|Industrials|Nasdaq 100|Nasdaq Compos...,09:30:00,16:00:00,ET,1,1.0,US0378331005,037833100,2046251,"[Nasdaq,Computer Manufacturing][SIC,3571 Elect...",2.760710e+12
35,ADBE|XNGS,Equity,US,Adobe Inc,USD,XNGS,[0:0.0001][1:0.01],[Esignal=ADBE][Idc|564=564|ADBE][Figic=BBG000B...,Nasdaq 100|Nasdaq Composite|Russell 1000|S&P 1...,09:30:00,16:00:00,ET,1,1.0,US00724F1012,00724F101,2008154,"[Nasdaq,Computer Software: Prepackaged Softwar...",2.948408e+11
85,ADI|XNGS,Equity,US,Analog Devices Inc,USD,XNGS,[0:0.0001][1:0.01],[Bloomberg=ADI US Equity][Figi=BBG000BB6G37][F...,Nasdaq 100|Nasdaq Composite|Russell 1000|S&P 5...,09:30:00,16:00:00,ET,1,1.0,US0326541051,032654105,2032067,"[SIC,3674 Semiconductors & Related Devices][Na...",0.000000e+00
52,ADP|XNGS,Equity,US,Automatic Data Processing Inc,USD,XNGS,[0:0.0001][1:0.01],[Idc|564=564|ADP][Figic=BBG000JG0547][Bloomber...,Nasdaq 100|Nasdaq Composite|Russell 1000|S&P 5...,09:30:00,16:00:00,ET,1,1.0,US0530151036,053015103,2065308,"[Nasdaq,Business Services][SIC,7374 Services-C...",9.735867e+10
82,ADSK|XNGS,Equity,US,Autodesk Inc Common Stock,USD,XNGS,[0:0.0001][1:0.01],[Figi=BBG000BM7HL0][Esignal=ADSK][Idc|564=564|...,Nasdaq 100|Nasdaq Composite|Russell 1000|S&P 5...,09:30:00,16:00:00,ET,1,1.0,US0527691069,052769106,2065159,"[SIC,7372 Services-Prepackaged Software][Nasda...",5.766451e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,WBA|XNGS,Equity,US,Walgreens Boots Alliance Inc,USD,XNGS,[0:0.0001][1:0.01],[Figi=BBG000BWLMJ4][Figic=BBG000BWLMJ4][Bloomb...,Composite|Industrials|Nasdaq 100|Nasdaq Compos...,09:30:00,16:00:00,ET,1,1.0,US9314271084,931427108,BTN1Y44,"[SIC,5912 Retail-Drug Stores and Proprietary S...",4.104300e+10
11,WDAY|XNGS,Equity,US,Workday Inc,USD,XNGS,[0:0.0001][1:0.01],[Esignal=WDAY][Figic=BBG000VC0T95][Figi=BBG000...,Nasdaq 100|Nasdaq Composite|Russell 1000,09:30:00,16:00:00,ET,1,1.0,US98138H1014,98138H101,B8K6ZD1,"[SIC,7374 Services-Computer Processing & Data ...",6.701000e+10
26,XEL|XNGS,Equity,US,Xcel Energy Inc,USD,XNGS,[0:0.0001][1:0.01],[Figi=BBG000BCTQ65][Figic=BBG000BCTQ65][Idc|56...,Nasdaq 100|Nasdaq Composite|Russell 1000|S&P 5...,09:30:00,16:00:00,ET,1,1.0,US98389B1008,98389B100,2614807,"[Nasdaq,Power Generation][SIC,4931 Electric & ...",3.510819e+10
45,XLNX|XNGS,Equity,US,Xilinx Inc Common Stock,USD,XNGS,[0:0.0001][1:0.01],[Figic=BBG000C0F570][Idc|564=564|XLNX][Esignal...,Nasdaq 100|Nasdaq Composite|Russell 1000|S&P 5...,09:30:00,16:00:00,ET,1,1.0,US9839191015,983919101,2985677,"[SIC,3674 Semiconductors & Related Devices][Na...",5.335250e+10
2,ZM|XNGS,Equity,US,Zoom Video Communications Cl A,USD,XNGS,[0:0.0001][1:0.01],[Figic=BBG0042V6JM8][Bloomberg=ZM US Equity][F...,Nasdaq 100|Nasdaq Composite|Russell 1000,09:30:00,16:00:00,ET,1,1.0,US98980L1017,98980L101,BGSP7M9,"[SIC,7370 Services-Computer Programming, Data ...",5.501355e+10

### Recupération des SIC (secteur)

In [13]:
def get_sic(data):      # Fonction qui permet de récupérer le code SIC d'un tableau d'equities contenant la colone ['Sectors']
    sic = []            # Cette fonction ajoute au dataframe une nouvelle colone appelée ['SIC'] au dataframe d'equities
    for i in range(len(data)):
        ligne = data.iloc[i]['Sectors']
        match = re.search(r"SIC,([0-9]{2})", ligne)
        sic.append(match.group().split(",")[1])
    data['SIC'] = sic
    return data

In [14]:
data = get_sic(data)
data

,Identifier,Type,Country,Name,Currency,Primary,TickSizeRule,Mapping,Index,Open,Close,Time zone,Lot size,PointValue,Isin,Cusip,Sedol,Sectors,Capitalization,SIC
0,MELI|XNGS,Equity,US,Mercadolibre Inc Common Stock,USD,XNGS,[0:0.0001][1:0.01],[Bloomberg=MELI US Equity][Esignal=MELI][Figic...,Nasdaq 100|Nasdaq Composite,09:30:00,16:00:00,ET,1,1.0,US58733R1023,58733R102,B23X1H3,"[SIC,7389 Services-Business Services, NEC][Nas...",5.409763e+10,73
1,CHKP|XNGS,Equity,IL,Check Point Software Technologies Ltd,USD,XNGS,[0:0.0001][1:0.01],[Idc|564=564|CHKP][Figi=BBG000K82ZT8][Bloomber...,Nasdaq 100|Nasdaq Composite,09:30:00,16:00:00,ET,1,1.0,IL0010824113,M22465104,2181334,"[Nasdaq,Computer Software: Prepackaged Softwar...",1.494791e+10,73
2,ZM|XNGS,Equity,US,Zoom Video Communications Cl A,USD,XNGS,[0:0.0001][1:0.01],[Figic=BBG0042V6JM8][Bloomberg=ZM US Equity][F...,Nasdaq 100|Nasdaq Composite|Russell 1000,09:30:00,16:00:00,ET,1,1.0,US98980L1017,98980L101,BGSP7M9,"[SIC,7370 Services-Computer Programming, Data ...",5.501355e+10,73
3,SIRI|XNGS,Equity,US,Sirius Xm Holdings Inc,USD,XNGS,[0:0.0001][1:0.01],[Figi=BBG000BT0093][Esignal=SIRI][Bloomberg=SI...,Nasdaq 100|Nasdaq Composite|Russell 1000,09:30:00,16:00:00,ET,1,1.0,US82968B1035,82968B103,BGLDK10,"[Nasdaq,Broadcasting][SIC,4832 Radio Broadcast...",2.505683e+10,48
4,CRWD|XNGS,Equity,US,Crowdstrike Holdings Inc,USD,XNGS,[0:0.0001][1:0.01],[Esignal=CRWD][Bloomberg=CRWD US Equity][Figi=...,Nasdaq 100|Nasdaq Composite|Russell 1000,09:30:00,16:00:00,ET,1,1.0,US22788C1053,22788C105,BJJP138,"[SIC,7372 Services-Prepackaged Software][Nasda...",4.469840e+10,73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,INCY|XNGS,Equity,US,Incyte Corporation,USD,XNGS,[0:0.0001][1:0.01],[Bloomberg=INCY US Equity][Figi=BBG000BNPSQ9][...,Nasdaq 100|Nasdaq Composite|Russell 1000|S&P 5...,09:30:00,16:00:00,ET,1,1.0,US45337C1027,45337C102,2471950,"[Nasdaq,Biotechnology: Commercial Physical & B...",1.444515e+10,87
92,EBAY|XNGS,Equity,US,Ebay Inc Common Stock,USD,XNGS,[0:0.0001][1:0.01],[Figic=BBG000C43RR5][Figi=BBG000C43RR5][Esigna...,Nasdaq 100|Nasdaq Composite|Russell 1000|S&P 5...,09:30:00,16:00:00,ET,1,1.0,US2786421030,278642103,2293819,"[SIC,7389 Services-Business Services, NEC][Nas...",4.247316e+10,73
93,KLAC|XNGS,Equity,US,Kla Corporation,USD,XNGS,[0:0.0001][1:0.01],[Bloomberg=KLAC US Equity][Figi=BBG000BMTFR4][...,Nasdaq 100|Nasdaq Composite|Russell 1000|S&P 5...,09:30:00,16:00:00,ET,1,1.0,US4824801009,482480100,2480138,"[Nasdaq,Electronic Components][SIC,3827 Optica...",6.066475e+10,38
94,VRTX|XNGS,Equity,US,Vertex Pharmaceutical,USD,XNGS,[0:0.0001][1:0.01],[Esignal=VRTX][Figi=BBG000C1S2X2][Bloomberg=VR...,Nasdaq 100|Nasdaq Composite|Russell 1000|S&P 5...,09:30:00,16:00:00,ET,1,1.0,US92532F1003,92532F100,2931034,"[SIC,2834 Pharmaceutical Preparations][GICS,35...",5.203097e+10,28
95,CSX|XNGS,Equity,US,Csx Corp,USD,XNGS,[0:0.0001][1:0.01],[Esignal=CSX][Idc|564=564|CSX][Bloomberg=CSX U...,Composite|Nasdaq 100|Nasdaq Composite|Russell ...,09:30:00,16:00:00,ET,1,1.0,US1264081035,126408103,2160753,"[Nasdaq,Railroads][SIC,4011 Railroads, Line-Ha...",8.051279e+10,40

### Liste de Dataframes par SIC

In [15]:
def sep_secteur(data):
    groups = data.groupby(['SIC'])
    liste_sic = data['SIC'].unique()
    liste_sic.sort()
    df_SIC = []
    for i in range(len(liste_sic)):
        df_SIC.append(groups.get_group(liste_sic[i]))
    return df_SIC

In [16]:
data_sec = sep_secteur(data)   # Liste de DF avec entreprises par secteur (selon le SIC)

In [17]:
data_sec[3]

,Identifier,Type,Country,Name,Currency,Primary,TickSizeRule,Mapping,Index,Open,Close,Time zone,Lot size,PointValue,Isin,Cusip,Sedol,Sectors,Capitalization,SIC
67,AAPL|XNGS,Equity,US,Apple Inc,USD,XNGS,[0:0.0001][1:0.01],[Figic=BBG000B9XRY4][Esignal=AAPL][Bloomberg=A...,Composite|Industrials|Nasdaq 100|Nasdaq Compos...,09:30:00,16:00:00,ET,1,1.0,US0378331005,037833100,2046251,"[Nasdaq,Computer Manufacturing][SIC,3571 Elect...",2.760710e+12,35
68,CSCO|XNGS,Equity,US,Cisco Systems Inc,USD,XNGS,[0:0.0001][1:0.01],[Figic=BBG000C3J3C9][Figi=BBG000C3J3C9][Esigna...,Composite|Industrials|Nasdaq 100|Nasdaq Compos...,09:30:00,16:00:00,ET,1,1.0,US17275R1023,17275R102,2198163,"[Nasdaq,Computer peripheral equipment][SIC,357...",2.386954e+11,35
79,LRCX|XNGS,Equity,US,Lam Research Corporation Common Stock,USD,XNGS,[0:0.0001][1:0.01],[Figi=BBG000BNFLM9][Idc|564=564|LRCX][Figic=BB...,Nasdaq 100|Nasdaq Composite|Russell 1000|S&P 5...,09:30:00,16:00:00,ET,1,1.0,US5128071082,512807108,2502247,"[BBID,105120][Nasdaq,Industrial Machinery/Comp...",9.370582e+10,35

In [18]:
def get_prices_df(equity_data):     # equity_data est un tableau de d'equities
    liste_df = []
    for i in range(len(equity_data)):
        id = equity_data.iloc[i]['Identifier'].split('|')
        ticker, exchange = id[0],id[1]
        SIC = equity_data.iloc[i]['SIC']
        request = daily_prices.DailyPricesRequest( identifier = identifier.Identifier(exchange = exchange, ticker = ticker))
        
        # open a gRPC channel
        with open(os.environ['SSL_CERT_FILE'], 'rb') as f:
            credentials = grpc.ssl_channel_credentials(f.read())
        with grpc.secure_channel(os.environ['GRPC_APIS'], credentials) as channel:

            # instantiate the daily prices service
            service = daily_prices_service.DailyPricesServiceStub(channel)

            # process the daily prices request
            response = service.DailyPrices(
            request = request, 
            metadata = [('authorization', token)]
            )
        
        # prepare the dataframe content
        dates=[datetime(p.date.year, p.date.month, p.date.day) for p in response.data]
        prices = [p.price for p in response.data]

        d = {'Date': dates, f'{ticker}': prices}
        liste_df.append(pd.DataFrame(data=d))
    return [SIC, liste_df]

### Application de la séparation par SIC

In [19]:
# On cherche à obtenir les prix de chaque action en les classant par secteur
df = []
for i in range(len(data_sec)):    
    df.append(get_prices_df(data_sec[i]))     # df est une liste de dataframe contenant les prix des equities par secteur ainsi que le sic
                                              # df est de la forme [[SIC,[df,df]],[SIC,[df,df,df]],[SIC,[df,df]].....]

# Puis on merge les DF au sein des listes     
# Pour former  liste_df [[SIC,df],[SIC,df],[SIC,df],[SIC,df]]
liste_df = []
for i in range(len(df)):
    concat = df[i][1][0]
    for j in range(1,len(df[i][1])):
        concat = concat.merge(df[i][1][j], on = "Date")
    liste_df.append([df[i][0], concat])

In [20]:
print(df[6])

['38', [           Date        ISRG
0    2001-01-02    1.812444
1    2001-01-03    1.944444
2    2001-01-04    1.764000
3    2001-01-05    1.722222
4    2001-01-08    1.666667
...         ...         ...
5261 2021-11-30  324.340000
5262 2021-12-01  319.930000
5263 2021-12-02  327.320000
5264 2021-12-03  321.630000
5265 2021-12-06  323.770000

[5266 rows x 2 columns],            Date    DXCM
0    2005-04-14   11.74
1    2005-04-15   10.25
2    2005-04-18   10.50
3    2005-04-19   10.58
4    2005-04-20   10.60
...         ...     ...
4187 2021-11-30  562.59
4188 2021-12-01  548.35
4189 2021-12-02  560.22
4190 2021-12-03  519.49
4191 2021-12-06  524.43

[4192 rows x 2 columns],            Date     ALGN
0    2001-01-26   17.313
1    2001-01-29   18.063
2    2001-01-30   16.875
3    2001-01-31   13.500
4    2001-02-01   14.188
...         ...      ...
5244 2021-11-30  611.530
5245 2021-12-01  602.290
5246 2021-12-02  624.930
5247 2021-12-03  619.750
5248 2021-12-06  638.920

[5249 rows x 2 columns],            Date      ILMN
0    2001-01-02    7.6250
1    2001-01-03    6.9065
2    2001-01-04    7.0625
3    2001-01-05    5.9690
4    2001-01-08    4.4375
...         ...       ...
5261 2021-11-30  365.3300
5262 2021-12-01  357.6600
5263 2021-12-02  357.4800
5264 2021-12-03  347.2800
5265 2021-12-06  351.6500

[5266 rows x 2 columns],            Date     KLAC
0    2001-01-02   34.125
1    2001-01-03   42.688
2    2001-01-04   39.813
3    2001-01-05   37.188
4    2001-01-08   40.375
...         ...      ...
5261 2021-11-30  408.130
5262 2021-12-01  412.180
5263 2021-12-02  402.530
5264 2021-12-03  400.680
5265 2021-12-06  399.530

[5266 rows x 2 columns]]]

### Pairs selection

In [21]:
def get_list_paires_possibles(liste_df):       # On cherche les paires possibles pour chaque secteur
    paires = []
    for i in range(len(liste_df)):       # Pour chaque secteur
        paires.append(liste_df[i][1].columns.tolist()[1:])
    return paires

In [22]:
def get_combinations(liste_paires):   # On fait une combinaison de toutes les facons possibles de faire des paires
    combi = []
    for i in range(len(liste_paires)):
        combi.append(list(itertools.combinations(liste_paires[i],2)))
    return combi

In [23]:
#liste_df[0][1]
liste_paires = get_list_paires_possibles(liste_df)  # de la forme [['AAPL','GOOGL'], ['NVDA','AMD'], ...]
combinaisons = get_combinations(liste_paires)  # Listes de tuples avec toutes les combinaisons possibles

### Requetes pour construire toutes les paires possibles

In [24]:
def df_paire(paire, exchange):
    request1 = daily_prices.DailyPricesRequest( identifier = identifier.Identifier(exchange = exchange, ticker = paire[0]))
    request2 = daily_prices.DailyPricesRequest( identifier = identifier.Identifier(exchange = exchange, ticker = paire[1]))
        
    # open a gRPC channel
    with open(os.environ['SSL_CERT_FILE'], 'rb') as f:
        credentials = grpc.ssl_channel_credentials(f.read())
    with grpc.secure_channel(os.environ['GRPC_APIS'], credentials) as channel:

        # instantiate the daily prices service
        service = daily_prices_service.DailyPricesServiceStub(channel)

        # process the daily prices request
        response1 = service.DailyPrices(request = request1, metadata = [('authorization', token)])
        response2 = service.DailyPrices(request = request2, metadata = [('authorization', token)])

    # prepare the dataframe content
    dates1 = [datetime(p.date.year, p.date.month, p.date.day) for p in response1.data]
    dates2 = [datetime(p.date.year, p.date.month, p.date.day) for p in response2.data]
    if (len(dates1) <= len(dates2)):
        dates = dates1
    else:
        dates = dates2
    prices1 = [p.price for p in response1.data][-len(dates):]       # So all arrays have the same length
    prices2 = [p.price for p in response2.data][-len(dates):]
    
    d = {'Date': dates, f'{paire[0]}': prices1, f'{paire[1]}': prices2}
    return pd.DataFrame(data=d)

In [25]:
df_paire(combinaisons[0][0],'XNGS')

          Date    KDP    KHC
0   2018-07-10  22.19  64.00
1   2018-07-11  24.00  63.74
2   2018-07-12  25.00  63.64
3   2018-07-13  24.25  63.85
4   2018-07-16  24.80  62.64
..         ...    ...    ...
855 2021-11-30  33.99  33.61
856 2021-12-01  33.56  32.88
857 2021-12-02  34.16  33.25
858 2021-12-03  34.47  33.64
859 2021-12-06  34.80  34.27

[860 rows x 3 columns]

In [26]:
def get_combinaisons_df(combinaisons,exchange):
    liste = []
    for i in range(len(combinaisons)):        # Pour chaque paire on crée un dataframe qu'on met dans une liste et qu'on imbrique dans une deuxième liste en fonction du secteur
        sub_liste = []
        for j in range(len(combinaisons[i])):
            sub_liste.append(df_paire(combinaisons[i][j], exchange))
        liste.append(sub_liste)
    return liste

In [27]:
df_combi = get_combinaisons_df(combinaisons,'XNGS')     # Représente une liste de liste avec les paires triés par groupe [#Groupe1[df,df,df,df], #Groupe2[df,df,df,df], [df,df], ...] Les groupes représentant les secteurs

In [1]:
nb = 0
for i in range(len(df_combi)):
    nb += len(df_combi[i])
"Nombre de paires = " + str(nb)   # Nombre de paires

NameError: name 'df_combi' is not defined

In [28]:
df_combi[0]

[          Date    KDP    KHC
 0   2018-07-10  22.19  64.00
 1   2018-07-11  24.00  63.74
 2   2018-07-12  25.00  63.64
 3   2018-07-13  24.25  63.85
 4   2018-07-16  24.80  62.64
 ..         ...    ...    ...
 855 2021-11-30  33.99  33.61
 856 2021-12-01  33.56  32.88
 857 2021-12-02  34.16  33.25
 858 2021-12-03  34.47  33.64
 859 2021-12-06  34.80  34.27

 [860 rows x 3 columns],
           Date    KDP   MDLZ
 0   2018-07-10  22.19  42.08
 1   2018-07-11  24.00  42.25
 2   2018-07-12  25.00  42.45
 3   2018-07-13  24.25  42.83
 4   2018-07-16  24.80  42.31
 ..         ...    ...    ...
 855 2021-11-30  33.99  58.94
 856 2021-12-01  33.56  58.56
 857 2021-12-02  34.16  59.46
 858 2021-12-03  34.47  60.26
 859 2021-12-06  34.80  61.42

 [860 rows x 3 columns],
           Date    KDP     PEP
 0   2018-07-10  22.19  112.89
 1   2018-07-11  24.00  112.54
 2   2018-07-12  25.00  111.53
 3   2018-07-13  24.25  112.69
 4   2018-07-16  24.80  112.96
 ..         ...    ...     ...
 855 2021-11-30  33.99  159.78
 856 2021-12-01  33.56  160.16
 857 2021-12-02  34.16  160.62
 858 2021-12-03  34.47  164.71
 859 2021-12-06  34.80  166.42

 [860 rows x 3 columns],
           Date    KDP   MNST
 0   2018-07-10  22.19  59.57
 1   2018-07-11  24.00  60.24
 2   2018-07-12  25.00  60.99
 3   2018-07-13  24.25  61.21
 4   2018-07-16  24.80  61.07
 ..         ...    ...    ...
 855 2021-11-30  33.99  83.78
 856 2021-12-01  33.56  81.06
 857 2021-12-02  34.16  82.96
 858 2021-12-03  34.47  83.70
 859 2021-12-06  34.80  85.71

 [860 rows x 3 columns],
            Date    KHC   MDLZ
 0    2015-07-06  72.96  41.26
 1    2015-07-07  74.63  41.78
 2    2015-07-08  75.40  41.41
 3    2015-07-09  74.80  41.25
 4    2015-07-10  77.31  41.41
 ...         ...    ...    ...
 1614 2021-11-30  33.61  58.94
 1615 2021-12-01  32.88  58.56
 1616 2021-12-02  33.25  59.46
 1617 2021-12-03  33.64  60.26
 1618 2021-12-06  34.27  61.42

 [1619 rows x 3 columns],
            Date    KHC     PEP
 0    2015-07-06  72.96   94.40
 1    2015-07-07  74.63   96.40
 2    2015-07-08  75.40   95.61
 3    2015-07-09  74.80   94.59
 4    2015-07-10  77.31   95.55
 ...         ...    ...     ...
 1614 2021-11-30  33.61  159.78
 1615 2021-12-01  32.88  160.16
 1616 2021-12-02  33.25  160.62
 1617 2021-12-03  33.64  164.71
 1618 2021-12-06  34.27  166.42

 [1619 rows x 3 columns],
            Date    KHC       MNST
 0    2015-07-06  72.96  44.939996
 1    2015-07-07  74.63  45.446662
 2    2015-07-08  75.40  44.599996
 3    2015-07-09  74.80  44.479996
 4    2015-07-10  77.31  45.369995
 ...         ...    ...        ...
 1614 2021-11-30  33.61  83.780000
 1615 2021-12-01  32.88  81.060000
 1616 2021-12-02  33.25  82.960000
 1617 2021-12-03  33.64  83.700000
 1618 2021-12-06  34.27  85.710000

 [1619 rows x 3 columns],
            Date       MDLZ     PEP
 0    2001-06-13  20.887228   44.32
 1    2001-06-14  20.151998   43.78
 2    2001-06-15  20.452774   43.26
 3    2001-06-18  20.265624   43.36
 4    2001-06-19  20.319096   43.71
 ...         ...        ...     ...
 5149 2021-11-30  58.940000  159.78
 5150 2021-12-01  58.560000  160.16
 5151 2021-12-02  59.460000  160.62
 5152 2021-12-03  60.260000  164.71
 5153 2021-12-06  61.420000  166.42

 [5154 rows x 3 columns],
            Date       MDLZ       MNST
 0    2001-06-13  20.887228   0.066667
 1    2001-06-14  20.151998   0.065208
 2    2001-06-15  20.452774   0.065417
 3    2001-06-18  20.265624   0.064792
 4    2001-06-19  20.319096   0.065625
 ...         ...        ...        ...
 5149 2021-11-30  58.940000  83.780000
 5150 2021-12-01  58.560000  81.060000
 5151 2021-12-02  59.460000  82.960000
 5152 2021-12-03  60.260000  83.700000
 5153 2021-12-06  61.420000  85.710000

 [5154 rows x 3 columns],
            Date      PEP       MNST
 0    2001-01-02   49.375   0.079437
 1    2001-01-03   46.500   0.084646
 2    2001-01-04   44.375   0.084646
 3    2001-01-05   45.313   0.084646
 4    2001-01-08   46.063   0.083333
 ...         ...      ...        ...
 5261 2021-11-30  159.780  83.780000
 5262 2021-12-01  160.160  81.060000
 5263 2021-12-02  160.620  82.960000
 5264 2021-12-03  164.710  83.700000
 5265 2021-12-06  166.420  85.710000

 [5266 rows x 3 columns]]

In [29]:
def add_coint(df_combi):         # On ajoute au data frame d'une paire la colonne qui indique la p-value de la cointégration des prix de la paire
    df_copy = copy.deepcopy(df_combi)
    for i in range(len(df_combi)):
        for j in range(len(df_combi[i])):
            df_copy[i][j]['Cointégration'] = pd.Series(cointegration_test(df_combi[i][j].iloc[:,1], df_combi[i][j].iloc[:,2]), index=df_copy[i][j].index[[0]])
    return df_copy

In [30]:
df_coint = add_coint(df_combi)
df_coint

[[          Date    KDP    KHC  Cointégration
  0   2018-07-10  22.19  64.00       0.769175
  1   2018-07-11  24.00  63.74            NaN
  2   2018-07-12  25.00  63.64            NaN
  3   2018-07-13  24.25  63.85            NaN
  4   2018-07-16  24.80  62.64            NaN
  ..         ...    ...    ...            ...
  855 2021-11-30  33.99  33.61            NaN
  856 2021-12-01  33.56  32.88            NaN
  857 2021-12-02  34.16  33.25            NaN
  858 2021-12-03  34.47  33.64            NaN
  859 2021-12-06  34.80  34.27            NaN

  [860 rows x 4 columns],
            Date    KDP   MDLZ  Cointégration
  0   2018-07-10  22.19  42.08       0.403495
  1   2018-07-11  24.00  42.25            NaN
  2   2018-07-12  25.00  42.45            NaN
  3   2018-07-13  24.25  42.83            NaN
  4   2018-07-16  24.80  42.31            NaN
  ..         ...    ...    ...            ...
  855 2021-11-30  33.99  58.94            NaN
  856 2021-12-01  33.56  58.56            NaN
  857 2021-12-02  34.16  59.46            NaN
  858 2021-12-03  34.47  60.26            NaN
  859 2021-12-06  34.80  61.42            NaN

  [860 rows x 4 columns],
            Date    KDP     PEP  Cointégration
  0   2018-07-10  22.19  112.89       0.535193
  1   2018-07-11  24.00  112.54            NaN
  2   2018-07-12  25.00  111.53            NaN
  3   2018-07-13  24.25  112.69            NaN
  4   2018-07-16  24.80  112.96            NaN
  ..         ...    ...     ...            ...
  855 2021-11-30  33.99  159.78            NaN
  856 2021-12-01  33.56  160.16            NaN
  857 2021-12-02  34.16  160.62            NaN
  858 2021-12-03  34.47  164.71            NaN
  859 2021-12-06  34.80  166.42            NaN

  [860 rows x 4 columns],
            Date    KDP   MNST  Cointégration
  0   2018-07-10  22.19  59.57        0.06804
  1   2018-07-11  24.00  60.24            NaN
  2   2018-07-12  25.00  60.99            NaN
  3   2018-07-13  24.25  61.21            NaN
  4   2018-07-16  24.80  61.07            NaN
  ..         ...    ...    ...            ...
  855 2021-11-30  33.99  83.78            NaN
  856 2021-12-01  33.56  81.06            NaN
  857 2021-12-02  34.16  82.96            NaN
  858 2021-12-03  34.47  83.70            NaN
  859 2021-12-06  34.80  85.71            NaN

  [860 rows x 4 columns],
             Date    KHC   MDLZ  Cointégration
  0    2015-07-06  72.96  41.26       0.513637
  1    2015-07-07  74.63  41.78            NaN
  2    2015-07-08  75.40  41.41            NaN
  3    2015-07-09  74.80  41.25            NaN
  4    2015-07-10  77.31  41.41            NaN
  ...         ...    ...    ...            ...
  1614 2021-11-30  33.61  58.94            NaN
  1615 2021-12-01  32.88  58.56            NaN
  1616 2021-12-02  33.25  59.46            NaN
  1617 2021-12-03  33.64  60.26            NaN
  1618 2021-12-06  34.27  61.42            NaN

  [1619 rows x 4 columns],
             Date    KHC     PEP  Cointégration
  0    2015-07-06  72.96   94.40       0.585746
  1    2015-07-07  74.63   96.40            NaN
  2    2015-07-08  75.40   95.61            NaN
  3    2015-07-09  74.80   94.59            NaN
  4    2015-07-10  77.31   95.55            NaN
  ...         ...    ...     ...            ...
  1614 2021-11-30  33.61  159.78            NaN
  1615 2021-12-01  32.88  160.16            NaN
  1616 2021-12-02  33.25  160.62            NaN
  1617 2021-12-03  33.64  164.71            NaN
  1618 2021-12-06  34.27  166.42            NaN

  [1619 rows x 4 columns],
             Date    KHC       MNST  Cointégration
  0    2015-07-06  72.96  44.939996       0.640769
  1    2015-07-07  74.63  45.446662            NaN
  2    2015-07-08  75.40  44.599996            NaN
  3    2015-07-09  74.80  44.479996            NaN
  4    2015-07-10  77.31  45.369995            NaN
  ...         ...    ...        ...            ...
  1614 2021-11-30  33.61  83.780000            NaN
  1615 2021-12-01  32.88  81.060000            NaN
  1616 2021-12-02  33.25  82.960000            NaN
  1617 2021-12-03  33.64  83.700000            NaN
  1618 2021-12-06  34.27  85.710000            NaN

  [1619 rows x 4 columns],
             Date       MDLZ     PEP  Cointégration
  0    2001-06-13  20.887228   44.32       0.107997
  1    2001-06-14  20.151998   43.78            NaN
  2    2001-06-15  20.452774   43.26            NaN
  3    2001-06-18  20.265624   43.36            NaN
  4    2001-06-19  20.319096   43.71            NaN
  ...         ...        ...     ...            ...
  5149 2021-11-30  58.940000  159.78            NaN
  5150 2021-12-01  58.560000  160.16            NaN
  5151 2021-12-02  59.460000  160.62            NaN
  5152 2021-12-03  60.260000  164.71            NaN
  5153 2021-12-06  61.420000  166.42            NaN

  [5154 rows x 4 columns],
             Date       MDLZ       MNST  Cointégration
  0    2001-06-13  20.887228   0.066667       0.040774
  1    2001-06-14  20.151998   0.065208            NaN
  2    2001-06-15  20.452774   0.065417            NaN
  3    2001-06-18  20.265624   0.064792            NaN
  4    2001-06-19  20.319096   0.065625            NaN
  ...         ...        ...        ...            ...
  5149 2021-11-30  58.940000  83.780000            NaN
  5150 2021-12-01  58.560000  81.060000            NaN
  5151 2021-12-02  59.460000  82.960000            NaN
  5152 2021-12-03  60.260000  83.700000            NaN
  5153 2021-12-06  61.420000  85.710000            NaN

  [5154 rows x 4 columns],
             Date      PEP       MNST  Cointégration
  0    2001-01-02   49.375   0.079437       0.012084
  1    2001-01-03   46.500   0.084646            NaN
  2    2001-01-04   44.375   0.084646            NaN
  3    2001-01-05   45.313   0.084646            NaN
  4    2001-01-08   46.063   0.083333            NaN
  ...         ...      ...        ...            ...
  5261 2021-11-30  159.780  83.780000            NaN
  5262 2021-12-01  160.160  81.060000            NaN
  5263 2021-12-02  160.620  82.960000            NaN
  5264 2021-12-03  164.710  83.700000            NaN
  5265 2021-12-06  166.420  85.710000            NaN

  [5266 rows x 4 columns]],
 [           Date     LULU    CTAS  Cointégration
  0    2007-07-27   14.000   36.90       0.622541
  1    2007-07-30   14.990   36.67            NaN
  2    2007-07-31   16.070   36.56            NaN
  3    2007-08-01   15.540   36.70            NaN
  4    2007-08-02   16.525   36.79            NaN
  ...         ...      ...     ...            ...
  3612 2021-11-30  454.410  422.19            NaN
  3613 2021-12-01  448.430  417.62            NaN
  3614 2021-12-02  450.680  432.17            NaN
  3615 2021-12-03  435.720  427.27            NaN
  3616 2021-12-06  423.540  435.32            NaN

  [3617 rows x 4 columns]],
 [           Date     SGEN        BIIB  Cointégration
  0    2001-03-07    8.250   52.494506       0.965035
  1    2001-03-08    8.750   52.084385            NaN
  2    2001-03-09    8.500   47.870817            NaN
  3    2001-03-12    7.750   42.779890            NaN
  4    2001-03-13    7.688   44.944728            NaN
  ...         ...      ...         ...            ...
  5217 2021-11-30  160.000  235.740000            NaN
  5218 2021-12-01  158.250  229.500000            NaN
  5219 2021-12-02  158.670  228.520000            NaN
  5220 2021-12-03  150.740  223.920000            NaN
  5221 2021-12-06  146.010  224.110000            NaN

  [5222 rows x 4 columns],
             Date     SGEN       GILD  Cointégration
  0    2001-03-07    8.250   2.085938        0.97708
  1    2001-03-08    8.750   2.113313            NaN
  2    2001-03-09    8.500   2.097688            NaN
  3    2001-03-12    7.750   1.851562            NaN
  4    2001-03-13    7.688   1.941437            NaN
  ...         ...      ...        ...            ...
  5217 2021-11-30  160.000  68.930000            NaN
  5218 2021-12-01  158.250  68.930000            NaN
  5219 2021-12-02  158.670  69.670000            NaN
  5220 2021-12-03  150.740  69.560000            NaN
  5221 2021-12-06  146.010  69.500000            NaN

  [5222 rows x 4 columns],
            Date    SGEN    MRNA  Cointégration
  0   2018-12-07   59.99   18.60       0.620828
  1   2018-12-10   60.65   18.80            NaN
  2   2018-12-11   60.94   18.01            NaN
  3   2018-12-12   61.95   18.68            NaN
  4   2018-12-13   61.00   18.76            NaN
  ..         ...     ...     ...            ...
  750 2021-11-30  160.00  352.43            NaN
  751 2021-12-01  158.25  310.61            NaN
  752 2021-12-02  158.67  301.49            NaN
  753 2021-12-03  150.74  306.72            NaN
  754 2021-12-06  146.01  265.33            NaN

  [755 rows x 4 columns],
             Date     SGEN     AMGN  Cointégration
  0    2001-03-07    8.250   71.188       0.503022
  1    2001-03-08    8.750   68.563            NaN
  2    2001-03-09    8.500   66.625            NaN
  3    2001-03-12    7.750   61.313            NaN
  4    2001-03-13    7.688   65.063            NaN
  ...         ...      ...      ...            ...
  5217 2021-11-30  160.000  198.880            NaN
  5218 2021-12-01  158.250  200.800            NaN
  5219 2021-12-02  158.670  201.170            NaN
  5220 2021-12-03  150.740  202.440            NaN
  5221 2021-12-06  146.010  208.790            NaN

  [5222 rows x 4 columns],
             Date     SGEN     REGN  Cointégration
  0    2001-03-07    8.250   27.625       0.732291
  1    2001-03-08    8.750   26.500            NaN
  2    2001-03-09    8.500   26.016            NaN
  3    2001-03-12    7.750   22.500            NaN
  4    2001-03-13    7.688   23.688            NaN
  ...         ...      ...      ...            ...
  5217 2021-11-30  160.000  636.530            NaN
  5218 2021-12-01  158.250  630.590            NaN
  5219 2021-12-02  158.670  634.000            NaN
  5220 2021-12-03  150.740  635.160            NaN
  5221 2021-12-06  146.010  625.000            NaN

  [5222 rows x 4 columns],
             Date     SGEN       IDXX  Cointégration
  0    2001-03-07    8.250    6.01575       0.126711
  1    2001-03-08    8.750    5.75000            NaN
  2    2001-03-09    8.500    5.65625            NaN
  3    2001-03-12    7.750    5.56250            NaN
  4    2001-03-13    7.688    5.56250            NaN
  ...         ...      ...        ...            ...
  5217 2021-11-30  160.000  608.07000            NaN
  5218 2021-12-01  158.250  599.45000            NaN
  5219 2021-12-02  158.670  599.01000            NaN
  5220 2021-12-03  150.740  586.54000            NaN
  5221 2021-12-06  146.010  592.21000            NaN

  [5222 rows x 4 columns],
             Date     SGEN     VRTX  Cointégration
  0    2001-03-07    8.250   42.938        0.22258
  1    2001-03-08    8.750   39.813            NaN
  2    2001-03-09    8.500   36.500            NaN
  3    2001-03-12    7.750   32.000            NaN
  4    2001-03-13    7.688   35.750            NaN
  ...         ...      ...      ...            ...
  5217 2021-11-30  160.000  186.940            NaN
  5218 2021-12-01  158.250  205.000            NaN
  5219 2021-12-02  158.670  204.450            NaN
  5220 2021-12-03  150.740  203.810            NaN
  5221 2021-12-06  146.010  205.060            NaN

  [5222 rows x 4 columns],
             Date        BIIB       GILD  Cointégration
  0    2001-01-02   55.478637   2.316406       0.005224
  1    2001-01-03   58.151287   2.412125            NaN
  2    2001-01-04   51.811273   2.054688            NaN
  3    2001-01-05   48.397659   1.828125            NaN
  4    2001-01-08   46.563977   1.699219            NaN
  ...         ...         ...        ...            ...
  5261 2021-11-30  235.740000  68.930000            NaN
  5262 2021-12-01  229.500000  68.930000            NaN
  5263 2021-12-02  228.520000  69.670000            NaN
  5264 2021-12-03  223.920000  69.560000            NaN
  5265 2021-12-06  224.110000  69.500000            NaN

  [5266 rows x 4 columns],
            Date    BIIB    MRNA  Cointégration
  0   2018-12-07  316.73   18.60       0.081765
  1   2018-12-10  319.44   18.80            NaN
  2   2018-12-11  319.79   18.01            NaN
  3   2018-12-12  322.61   18.68            NaN
  4   2018-12-13  320.14   18.76            NaN
  ..         ...     ...     ...            ...
  750 2021-11-30  235.74  352.43            NaN
  751 2021-12-01  229.50  310.61            NaN
  752 2021-12-02  228.52  301.49            NaN
  753 2021-12-03  223.92  306.72            NaN
  754 2021-12-06  224.11  265.33            NaN

  [755 rows x 4 columns],
             Date        BIIB     AMGN  Cointégration
  0    2001-01-02   55.478637   62.875        0.36465
  1    2001-01-03   58.151287   67.063            NaN
  2    2001-01-04   51.811273   62.688            NaN
  3    2001-01-05   48.397659   58.313            NaN
  4    2001-01-08   46.563977   58.688            NaN
  ...         ...         ...      ...            ...
  5261 2021-11-30  235.740000  198.880            NaN
  5262 2021-12-01  229.500000  200.800            NaN
  5263 2021-12-02  228.520000  201.170            NaN
  5264 2021-12-03  223.920000  202.440            NaN
  5265 2021-12-06  224.110000  208.790            NaN

  [5266 rows x 4 columns],
             Date        BIIB     REGN  Cointégration
  0    2001-01-02   55.478637   35.563       0.292015
  1    2001-01-03   58.151287   34.063            NaN
  2    2001-01-04   51.811273   32.438            NaN
  3    2001-01-05   48.397659   31.125            NaN
  4    2001-01-08   46.563977   30.250            NaN
  ...         ...         ...      ...            ...
  5261 2021-11-30  235.740000  636.530            NaN
  5262 2021-12-01  229.500000  630.590            NaN
  5263 2021-12-02  228.520000  634.000            NaN
  5264 2021-12-03  223.920000  635.160            NaN
  5265 2021-12-06  224.110000  625.000            NaN

  [5266 rows x 4 columns],
             Date        BIIB       IDXX  Cointégration
  0    2001-01-02   55.478637    5.56250       0.913482
  1    2001-01-03   58.151287    6.15625            NaN
  2    2001-01-04   51.811273    5.56250            NaN
  3    2001-01-05   48.397659    5.29700            NaN
  4    2001-01-08   46.563977    5.31250            NaN
  ...         ...         ...        ...            ...
  5261 2021-11-30  235.740000  608.07000            NaN
  5262 2021-12-01  229.500000  599.45000            NaN
  5263 2021-12-02  228.520000  599.01000            NaN
  5264 2021-12-03  223.920000  586.54000            NaN
  5265 2021-12-06  224.110000  592.21000            NaN

  [5266 rows x 4 columns],
             Date        BIIB     VRTX  Cointégration
  0    2001-01-02   55.478637   63.125       0.401593
  1    2001-01-03   58.151287   62.625            NaN
  2    2001-01-04   51.811273   59.875            NaN
  3    2001-01-05   48.397659   54.438            NaN
  4    2001-01-08   46.563977   47.000            NaN
  ...         ...         ...      ...            ...
  5261 2021-11-30  235.740000  186.940            NaN
  5262 2021-12-01  229.500000  205.000            NaN
  5263 2021-12-02  228.520000  204.450            NaN
  5264 2021-12-03  223.920000  203.810            NaN
  5265 2021-12-06  224.110000  205.060            NaN

  [5266 rows x 4 columns],
            Date   GILD    MRNA  Cointégration
  0   2018-12-07  68.15   18.60       0.325818
  1   2018-12-10  67.49   18.80            NaN
  2   2018-12-11  67.72   18.01            NaN
  3   2018-12-12  68.14   18.68            NaN
  4   2018-12-13  67.35   18.76            NaN
  ..         ...    ...     ...            ...
  750 2021-11-30  68.93  352.43            NaN
  751 2021-12-01  68.93  310.61            NaN
  752 2021-12-02  69.67  301.49            NaN
  753 2021-12-03  69.56  306.72            NaN
  754 2021-12-06  69.50  265.33            NaN

  [755 rows x 4 columns],
             Date       GILD     AMGN  Cointégration
  0    2001-01-02   2.316406   62.875       0.608947
  1    2001-01-03   2.412125   67.063            NaN
  2    2001-01-04   2.054688   62.688            NaN
  3    2001-01-05   1.828125   58.313            NaN
  4    2001-01-08   1.699219   58.688            NaN
  ...         ...        ...      ...            ...
  5261 2021-11-30  68.930000  198.880            NaN
  5262 2021-12-01  68.930000  200.800            NaN
  5263 2021-12-02  69.670000  201.170            NaN
  5264 2021-12-03  69.560000  202.440            NaN
  5265 2021-12-06  69.500000  208.790            NaN

  [5266 rows x 4 columns],
             Date       GILD     REGN  Cointégration
  0    2001-01-02   2.316406   35.563       0.632167
  1    2001-01-03   2.412125   34.063            NaN
  2    2001-01-04   2.054688   32.438            NaN
  3    2001-01-05   1.828125   31.125            NaN
  4    2001-01-08   1.699219   30.250            NaN
  ...         ...        ...      ...            ...
  5261 2021-11-30  68.930000  636.530            NaN
  5262 2021-12-01  68.930000  630.590            NaN
  5263 2021-12-02  69.670000  634.000            NaN
  5264 2021-12-03  69.560000  635.160            NaN
  5265 2021-12-06  69.500000  625.000            NaN

  [5266 rows x 4 columns],
             Date       GILD       IDXX  Cointégration
  0    2001-01-02   2.316406    5.56250       0.876192
  1    2001-01-03   2.412125    6.15625            NaN
  2    2001-01-04   2.054688    5.56250            NaN
  3    2001-01-05   1.828125    5.29700            NaN
  4    2001-01-08   1.699219    5.31250            NaN
  ...         ...        ...        ...            ...
  5261 2021-11-30  68.930000  608.07000            NaN
  5262 2021-12-01  68.930000  599.45000            NaN
  5263 2021-12-02  69.670000  599.01000            NaN
  5264 2021-12-03  69.560000  586.54000            NaN
  5265 2021-12-06  69.500000  592.21000            NaN

  [5266 rows x 4 columns],
             Date       GILD     VRTX  Cointégration
  0    2001-01-02   2.316406   63.125        0.63357
  1    2001-01-03   2.412125   62.625            NaN
  2    2001-01-04   2.054688   59.875            NaN
  3    2001-01-05   1.828125   54.438            NaN
  4    2001-01-08   1.699219   47.000            NaN
  ...         ...        ...      ...            ...
  5261 2021-11-30  68.930000  186.940            NaN
  5262 2021-12-01  68.930000  205.000            NaN
  5263 2021-12-02  69.670000  204.450            NaN
  5264 2021-12-03  69.560000  203.810            NaN
  5265 2021-12-06  69.500000  205.060            NaN

  [5266 rows x 4 columns],
            Date    MRNA    AMGN  Cointégration
  0   2018-12-07   18.60  191.44       0.959825
  1   2018-12-10   18.80  194.09            NaN
  2   2018-12-11   18.01  196.18            NaN
  3   2018-12-12   18.68  196.41            NaN
  4   2018-12-13   18.76  197.53            NaN
  ..         ...     ...     ...            ...
  750 2021-11-30  352.43  198.88            NaN
  751 2021-12-01  310.61  200.80            NaN
  752 2021-12-02  301.49  201.17            NaN
  753 2021-12-03  306.72  202.44            NaN
  754 2021-12-06  265.33  208.79            NaN

  [755 rows x 4 columns],
            Date    MRNA    REGN  Cointégration
  0   2018-12-07   18.60  372.83       0.838564
  1   2018-12-10   18.80  377.59            NaN
  2   2018-12-11   18.01  375.72            NaN
  3   2018-12-12   18.68  377.96            NaN
  4   2018-12-13   18.76  378.51            NaN
  ..         ...     ...     ...            ...
  750 2021-11-30  352.43  636.53            NaN
  751 2021-12-01  310.61  630.59            NaN
  752 2021-12-02  301.49  634.00            NaN
  753 2021-12-03  306.72  635.16            NaN
  754 2021-12-06  265.33  625.00            NaN

  [755 rows x 4 columns],
            Date    MRNA    IDXX  Cointégration
  0   2018-12-07   18.60  190.01       0.290366
  1   2018-12-10   18.80  196.00            NaN

In [31]:
df_coint[2][15]

           Date       GILD     REGN  Cointégration
0    2001-01-02   2.316406   35.563       0.632167
1    2001-01-03   2.412125   34.063            NaN
2    2001-01-04   2.054688   32.438            NaN
3    2001-01-05   1.828125   31.125            NaN
4    2001-01-08   1.699219   30.250            NaN
...         ...        ...      ...            ...
5261 2021-11-30  68.930000  636.530            NaN
5262 2021-12-01  68.930000  630.590            NaN
5263 2021-12-02  69.670000  634.000            NaN
5264 2021-12-03  69.560000  635.160            NaN
5265 2021-12-06  69.500000  625.000            NaN

[5266 rows x 4 columns]

In [32]:
def drop_faible_coint(df_combi, threshold):    # Retourne une liste par secteur de paires suffisament cointégrés
    df_combi_copy = []
    for i in range(len(df_combi)):
        df_combi_copy.append([x for x in df_combi[i] if x['Cointégration'][0] < threshold])
    for x in df_combi_copy:
        if x == []:
            df_combi_copy.remove([])
    return df_combi_copy

In [33]:
df_paire_drop = drop_faible_coint(df_coint, 0.05)

In [34]:
df_paire_drop[1]

[           Date        BIIB       GILD  Cointégration
 0    2001-01-02   55.478637   2.316406       0.005224
 1    2001-01-03   58.151287   2.412125            NaN
 2    2001-01-04   51.811273   2.054688            NaN
 3    2001-01-05   48.397659   1.828125            NaN
 4    2001-01-08   46.563977   1.699219            NaN
 ...         ...         ...        ...            ...
 5261 2021-11-30  235.740000  68.930000            NaN
 5262 2021-12-01  229.500000  68.930000            NaN
 5263 2021-12-02  228.520000  69.670000            NaN
 5264 2021-12-03  223.920000  69.560000            NaN
 5265 2021-12-06  224.110000  69.500000            NaN

 [5266 rows x 4 columns],
            Date     AMGN     VRTX  Cointégration
 0    2001-01-02   62.875   63.125       0.011677
 1    2001-01-03   67.063   62.625            NaN
 2    2001-01-04   62.688   59.875            NaN
 3    2001-01-05   58.313   54.438            NaN
 4    2001-01-08   58.688   47.000            NaN
 ...         ...      ...      ...            ...
 5261 2021-11-30  198.880  186.940            NaN
 5262 2021-12-01  200.800  205.000            NaN
 5263 2021-12-02  201.170  204.450            NaN
 5264 2021-12-03  202.440  203.810            NaN
 5265 2021-12-06  208.790  205.060            NaN

 [5266 rows x 4 columns]]

In [35]:
def add_statio(df_combi, column_name, indicateur):         # On ajoute au data frame d'une paire la colonne qui indique la p-value de la stationarité de l'indicateur
    df_copy = copy.deepcopy(df_combi)
    for i in range(len(df_combi)):
        for j in range(len(df_combi[i])):
            df_copy[i][j][column_name] = pd.Series(stationarity_test_pvalue(df_combi[i][j][indicateur]), index=df_copy[i][j].index[[0]])
    return df_copy

In [36]:
def add_spread_list_df(liste_df):          # On ajoute à chaque paire son spread ainsi que la stationnarité associée
    for i in range(len(liste_df)):
        for df in liste_df[i]:
            df['Spread'] = df.iloc[:,1] - df.iloc[:,2]
    df_final = add_statio(liste_df, 'Statio_Spread', 'Spread')
    return df_final

In [37]:
def add_ratio_list_df(liste_df):          # On ajoute à chaque paire son ratio ainsi que la stationnarité associée
    for i in range(len(liste_df)):
        for df in liste_df[i]:
            df['Ratio'] = df.iloc[:,1] / df.iloc[:,2]
    df_final = add_statio(liste_df, 'Statio_Ratio', 'Ratio')
    return df_final

In [38]:
df_paire_drop = add_spread_list_df(df_paire_drop)
df_paire_drop = add_ratio_list_df(df_paire_drop)

In [39]:
df_paire_drop[0][1]

,Date,PEP,MNST,Cointégration,Spread,Statio_Spread,Ratio,Statio_Ratio
0,2001-01-02,49.375,0.079437,0.012084,49.295563,0.010142,621.558823,0.034005
1,2001-01-03,46.500,0.084646,NaN,46.415354,NaN,549.348652,NaN
2,2001-01-04,44.375,0.084646,NaN,44.290354,NaN,524.244009,NaN
3,2001-01-05,45.313,0.084646,NaN,45.228354,NaN,535.325493,NaN
4,2001-01-08,46.063,0.083333,NaN,45.979667,NaN,552.756884,NaN
...,...,...,...,...,...,...,...,...
5261,2021-11-30,159.780,83.780000,NaN,76.000000,NaN,1.907138,NaN
5262,2021-12-01,160.160,81.060000,NaN,79.100000,NaN,1.975820,NaN
5263,2021-12-02,160.620,82.960000,NaN,77.660000,NaN,1.936114,NaN
5264,2021-12-03,164.710,83.700000,NaN,81.010000,NaN,1.967861,NaN
5265,2021-12-06,166.420,85.710000,NaN,80.710000,NaN,1.941664,NaN

In [40]:
def drop_faible_statio(df_combi, threshold):    # Retourne une liste par secteur de paires suffisament cointégrés
    df_combi_copy = []
    count_ratio = 0
    count_spread = 0
    for i in range(len(df_combi)):
        df_combi_copy.append([x for x in df_combi[i] if (x['Statio_Spread'][0] < threshold or x['Statio_Ratio'][0] < threshold)])
        for x in df_combi[i]:
            if x['Statio_Ratio'][0] < threshold:
                count_ratio += 1
            if x['Statio_Spread'][0] < threshold:
                count_spread += 1
    for x in df_combi_copy:
        if x == []:
            df_combi_copy.remove([])
    return df_combi_copy, count_ratio, count_spread

In [41]:
df_final, ratio_score, spread_score = drop_faible_statio(df_paire_drop, 0.05)

In [53]:
df_final[0][0]

,Date,PEP,MNST,Cointégration,Spread,Statio_Spread,Ratio,Statio_Ratio
0,2001-01-02,49.375,0.079437,0.012084,49.295563,0.010142,621.558823,0.034005
1,2001-01-03,46.500,0.084646,NaN,46.415354,NaN,549.348652,NaN
2,2001-01-04,44.375,0.084646,NaN,44.290354,NaN,524.244009,NaN
3,2001-01-05,45.313,0.084646,NaN,45.228354,NaN,535.325493,NaN
4,2001-01-08,46.063,0.083333,NaN,45.979667,NaN,552.756884,NaN
...,...,...,...,...,...,...,...,...
5261,2021-11-30,159.780,83.780000,NaN,76.000000,NaN,1.907138,NaN
5262,2021-12-01,160.160,81.060000,NaN,79.100000,NaN,1.975820,NaN
5263,2021-12-02,160.620,82.960000,NaN,77.660000,NaN,1.936114,NaN
5264,2021-12-03,164.710,83.700000,NaN,81.010000,NaN,1.967861,NaN
5265,2021-12-06,166.420,85.710000,NaN,80.710000,NaN,1.941664,NaN

In [51]:
"Score ratio = " + str(ratio_score) + " Score spread = " + str(spread_score)

'Score ratio = 24 Score spread = 13'

In [44]:
def add_stationarity(df_combi):         # On ajoute au data frame d'une paire la colonne qui indique la p-value de la cointégration des prix de la paire
    df_copy = copy.deepcopy(df_combi)
    for i in range(len(df_combi)):
        for j in range(len(df_combi[i])):
            df_copy[i][j]['Statio Ratio'] = pd.Series(cointegration_test(df_combi[i][j].iloc[:,1], df_combi[i][j].iloc[:,2]), index=df_copy[i][j].index[[0]])
    return df_copy

In [45]:
def find_stationarity(list_pairs):
    for i in range(len(list_pairs)):
        if len(list_pairs)!=0:
            for j in range(len(list_pairs[i])):
                diff=list_pairs[i][j][list_pairs[i][j].columns[1]]-list_pairs[i][j][list_pairs[i][j].columns[2]]
                result=stationarity_test(diff)
                if result is True:
                    print(list_pairs[i][j].columns[1] + "-" + list_pairs[i][j].columns[2] + " is stationary")
                                                                                   


'''
def find_stationarity(liste_df): #we need to validate that each time series is not stationary and we standardize 
    for i in range(len(liste_df)):
        liste_df[i][1]=mean_norm(liste_df[i][1])
        for j in range(1,len(liste_df[i][1].columns)):
            stationary=stationarity_test(liste_df[i][1].iloc[:,j])
            if stationary is True:
                print(liste_df[i][1].columns[j] + " is stationary")
    return liste_df
'''

'\ndef find_stationarity(liste_df): #we need to validate that each time series is not stationary and we standardize \n    for i in range(len(liste_df)):\n        liste_df[i][1]=mean_norm(liste_df[i][1])\n        for j in range(1,len(liste_df[i][1].columns)):\n            stationary=stationarity_test(liste_df[i][1].iloc[:,j])\n            if stationary is True:\n                print(liste_df[i][1].columns[j] + " is stationary")\n    return liste_df\n'

In [46]:
#We run this function for each sector, we use cointegration prices are not stationary and in the other case, we use correlation
def find_cointegrated_pairs(liste_df):
    pairs=[]
    pairs_per_sector=[]
    for i in range(len(liste_df)):
        n=len(liste_df[i][1].columns)
        pairs_per_sector=[]
        for j in range(1,n):
            for w in range(j+1, n-1):
                timeseries1=liste_df[i][1].iloc[:,j]
                timeseries2=liste_df[i][1].iloc[:,w]
                test=cointegration_test(timeseries1,timeseries2)
                if test < 0.05: #To modify according to the cointegration level that we want
                    pairs_per_sector.append([liste_df[i][1].columns[j], liste_df[i][1].columns[w],test])
        pairs.append(pairs_per_sector)
    return pairs

In [47]:
itertools.combinations(liste_df[6][1] ,2)

In [48]:
#list_df=find_stationarity(liste_df)
#Only one time series is stationary, so that we consider all the dataframe stationary, we don't need to calculate correlation between time series

In [49]:
pairs=find_cointegrated_pairs(liste_df)

KeyboardInterrupt:

In [ ]:
pairs

In [ ]:
#We sort the asset pair according to the cointegration score
for i in range(len(pairs)):
    sorted(pairs[i],key=lambda x:x[2])
print(pairs)

In [ ]:
list_pairs=[]
for i in range(len(liste_df)):
    pairs_sector=[]
    if len(pairs[i])!=0:
        for j in range(len(pairs[i])):
             pairs_sector.append(pd.concat([liste_df[i][1]["Date"],liste_df[i][1][pairs[i][j][0]], liste_df[i][1][pairs[i][j][1]]], axis=1))
    list_pairs.append(pairs_sector)
print(list_pairs[13][0])
#We gather the selected pair for each sector into a dataframe composed by Dates, Pair A and Pair B

In [ ]:
#We plot a random cointegrate pair to verify if everything is ok
plt.figure(figsize=(25, 10))
plt.plot('Date', list_pairs[13][0].columns[1], data=list_pairs[13][0], marker='', color='blue', linewidth=1, alpha = 0.6, label=list_pairs[13][0].columns[1])
plt.plot('Date', list_pairs[13][0].columns[2], data=list_pairs[13][0], marker='', color='red', linewidth=1, label=list_pairs[13][0].columns[2])
plt.ylabel('Price')
plt.xlabel('Date')
plt.title("{} and {} prices".format(list_pairs[13][0].columns[1],list_pairs[13][0].columns[2]))
plt.show()

### Signals

In [ ]:
def linear_regression(df): #prends en entrée un dataframe représentant une paire
# Engle-Granger method (spread method)
    S1=df[df.columns[1]]
    S2=df[df.columns[2]]
    S1 = sm.add_constant(S1)
    results = sm.OLS(S2, S1).fit()
    S1 = S1[df.columns[1]]
    b = results.params[df.columns[1]]
    spread = S2 - b * S1
    df['Spread']=spread
    ''' Plot for seeing 
    spread.plot(figsize=(12,6))
    plt.axhline(spread.mean(), color='black')
    plt.legend(['Spread']);
    '''
    return df

In [ ]:
def zscore(df): #we standardized
    df["Zscore"]=(df["Spread"] - df["Spread"].mean()) / np.std(df["Spread"])
    return df

In [ ]:
def rendement(df,j):
    #calculate the yield of the last j days
    rend1=[0 for i in range(j)]
    rend2=[0 for i in range(j)]
    for i in range(j,df.shape[0]):
        rend1.append((df.loc[i,df.columns[1]]-df.loc[i-j,df.columns[1]]) / df.loc[i-j,df.columns[1]])
        rend2.append((df.loc[i,df.columns[2]]-df.loc[i-j,df.columns[2]]) / df.loc[i-j,df.columns[2]])
    df["Rend_" + df.columns[1]]=rend1 
    df["Rend_" + df.columns[2]]=rend2 
    return df

In [ ]:
def volatility(df,j):
    vol1=[0 for i in range(j)]
    vol2=[0 for i in range(j)]
    for i in range(j,df.shape[0]):
        vol1.append(df[df.columns[1]][i-j:i].std())
        vol2.append(df[df.columns[2]][i-j:i].std())
    df["Vol_" + df.columns[1]]=vol1 
    df["Vol_" + df.columns[2]]=vol2 
    return df

In [ ]:
 find_stationarity(list_pairs) # All pair1-pair2 are not stationary (it makes sense)

In [ ]:
for i in range(len(list_pairs)):
    if len(list_pairs[i])!=0:
        for j in range(len(list_pairs[i])):
            list_pairs[i][j]=linear_regression(list_pairs[i][j])
            list_pairs[i][j]=zscore(list_pairs[i][j])
            if list_pairs[i][j] is False: #we verify that each zscore series is stationary
                print(list_pairs[i][j].columns[2]+" - "+ list_pairs[i][j].columns[1] + " not stationary")
            list_pairs[i][j]=volatility(list_pairs[i][j],30)
            

            
            
list_pairs[13][0]["Zscore"].plot(figsize=(12,6))
plt.axhline(list_pairs[13][0]["Zscore"].mean())
plt.axhline(list_pairs[13][0]["Zscore"].std(), color='red')
plt.axhline(-list_pairs[13][0]["Zscore"].std(), color='green')
plt.show()

In [ ]:
print(list_pairs[13][0])
print(adfuller(list_pairs[13][0]["Zscore"])[1])